node_modules/
.env
.env.*
.DS_Store
package-lock.json
*.log

# Exclude all code files and directories from Git tracking
controllers/
middleware/
models/
routes/
utils/
views/
config/
config.json
server.js
discord_server_details.md
backend/
frontend/
package.json
PM2.config.js
docker-compose.yml
